name: 'Build and Test'
on:
  workflow_dispatch:
  workflow_call:
  push:

jobs:
  build_dotnet_project:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    name: Build, test and upload dotnet artifact
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: | 
            6.0.x

      - name: Build
        run: |
          dotnet build -c Release ./Source/Dotenv.Extensions.Configuration.csproj

      - name: Test
        run: |
          dotnet test ./Test/Dotenv.Extensions.Configuration.Test.csproj

      - name: Upload nupkg
        uses: actions/upload-artifact@v3
        with:
          name: main-package
          path: | 
            Source/bin/Release/*.nupkg
