name: 'Build and Test'
on:
  workflow_dispatch:

jobs:
  build_dotnet_project:
    uses: arsanov/Dotenv.Extensions.Configuration/.github/workflows/build.yml@master
    secrets: inherit

  publish_dotnet_project:
    needs: build_dotnet_project
    environment: main
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    name: Publish nuget package
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: main-package

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: | 
            6.0.x

      - name: Publish nupkg
        run: |
          dotnet nuget push Dotenv.Extensions.Configuration.1.0.0.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json




